@font-face {
  font-family: "Merriweather_24pt-Regular";
  src: url("fonts/Merriweather_24pt-Regular.ttf");
}

@font-face {
  font-family: "Merriweather_24pt-Bold";
  src: url("fonts/Merriweather_24pt-Bold.ttf");
}

@font-face {
  font-family: "Merriweather_24pt-LightItalic";
  src: url("fonts/Merriweather_24pt-LightItalic.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hover: #1A546A;
  --focus: #276769;
  --black: #28293B;
  --grey: #F1F1F5;
  --white: #EAEAE8;
  --blue: #27449C;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Merriweather_24pt-Regular";
  font-size: 16px;
  color: var(--black);
}

ul {
  list-style: none;
}

p {
  line-height: 170%;
}

img{
  max-width: 100%;
}

input,
textarea,
option,
select {
  font-family: "Roboto-Regular";
  display: block;
  background-color: var(--grey);
  padding: 10px;
  margin-bottom: 10px;
  outline: 1px solid white;
  border: none;
  font-size: inherit;
  transition: all 1s linear;
}

input:hover,
textarea:hover {
  outline: 1px solid var(--hover);
}

input:focus,
textarea:focus {
  outline: 1px solid var(--focus);
}

button {
  font-family: "Roboto-Regular";
  border: none;
  font-size: inherit;
  padding: 12px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s linear;
}

.header-link,
.main-link {
  font-family: "Roboto-Regular";
  display: inline-block;
  padding: 8px 12px 8px 12px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 3px;
  transition: all .3s linear;
  text-decoration: none;
}

button:hover,
.header-link:hover,
.main-link:hover {
  background-color: var(--hover);
}

button:focus,
.header-link:focus,
.main-link:focus {
  background-color: var(--focus);
}

h1 {
  font-family: "Merriweather_24pt-Bold";
  font-size: 32px;
  margin-bottom: 30px;
}

h2 {
  font-family: "Merriweather_24pt-Bold";
  font-size: 24px;
  margin-bottom: 17px;
}

header,
footer {
  background-color: #F0F9EF;
  padding: 14px 0 14px 0;
}

header {
  margin-bottom: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
}

footer {
  margin-top: 60px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
}

main {
  min-height: calc(100vh - 320px);
}

footer .container {
  height: 100%;
}

.container {
  max-width: 1196px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

.container-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  font-family: "Roboto-Regular";
}

.footer-link:hover {
  color: var(--hover);
}

.stories-item {
  margin-bottom: 50px;
}

.stories-tags {
  display: flex;
  gap: 10px;
  color: var(--blue);
  margin-bottom: 17px;
}

.stories-content-box {
  display: flex;
  gap: 20px;
}

.stories-img-box {
  flex: none;
  width: 223px;
  height: 223px;
  background-color: aqua;
}

.stories-img {
  width: 223px;
  height: 223px;
  object-fit: cover;
  object-position: center;
}

.stories-text-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stories-text-container {
  height: 164px;
  padding: 10px;
  border: 1px dashed var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.stories-text {
  flex-grow: 1;
  overflow: hidden;
}

.main-link {
  flex: none;
  margin-left: auto;
}

.story-content{
  display: flex;
  gap: 20px;
  margin-bottom: 17px;
}

.story-text{
  width: 50%;
  height: 50vh;
  overflow: auto;
}

.story-img{
  width: 50%;
  object-fit: cover;
  height: 50vh;
}

.story-content-under{
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.story-author {
  font-size: 16px;
  font-family: "Merriweather_24pt-LightItalic";
}

.creator {
  font-size: 14px;
  font-family: "Roboto-Light";
}

.my-custom-pagination-container {
  display: flex;
}

.pagination-list {
  display: flex;
  gap: 10px;
}

.pagination-link {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: var(--black);
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: var(--hover);
  color: var(--white);
  border-color: var(--focus);
}

.active-page .pagination-link {
  background-color: var(--focus);
  color: var(--white);
  border-color: var(--focus);
  cursor: default;
}