* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hover: #1A546A;
  --focus: #276769;
  --black: #28293B;
  --grey: #F1F1F5;
  --white: #EAEAE8;
  --blue: #27449C;
}

body {
  font-size: 16px;
  color: var(--black);
}

img {
  max-width: 100%;
}

input {
  display: block;
  background-color: var(--grey);
  padding: 10px;
  margin-bottom: 10px;
  outline: 1px solid white;
  border: none;
  font-size: inherit;
  transition: all 1s linear;
}

input:hover {
  outline: 1px solid var(--hover);
}

input:focus {
  outline: 1px solid var(--focus);
}

button {
  border: none;
  font-size: inherit;
  padding: 12px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s linear;
}

button:hover {
  background-color: var(--hover);
}

button:focus {
  background-color: var(--focus);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}